@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8ugfs6');
  src:  url('fonts/icomoon.eot?8ugfs6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8ugfs6') format('truetype'),
    url('fonts/icomoon.woff?8ugfs6') format('woff'),
    url('fonts/icomoon.svg?8ugfs6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete_circle:before {
  content: "\e90f";
}
.icon-cart:before {
  content: "\e939";
}
.icon-amazon:before {
  content: "\e900";
}
.icon-appreciate:before {
  content: "\e901";
}
.icon-back:before {
  content: "\e902";
}
.icon-bag:before {
  content: "\e903";
}
.icon-barcode-scan:before {
  content: "\e904";
}
.icon-box:before {
  content: "\e905";
}
.icon-calculate:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e907";
}
.icon-classify:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-config:before {
  content: "\e90a";
}
.icon-courier:before {
  content: "\e90b";
}
.icon-cutting_line:before {
  content: "\e90c";
}
.icon-delete_fill:before {
  content: "\e90d";
}
.icon-delete:before {
  content: "\e90e";
}
.icon-down:before {
  content: "\e910";
}
.icon-edit_circle:before {
  content: "\e911";
}
.icon-eee:before {
  content: "\e912";
}
.icon-electric:before {
  content: "\e913";
}
.icon-evaluate:before {
  content: "\e914";
}
.icon-excel:before {
  content: "\e915";
}
.icon-exit:before {
  content: "\e916";
}
.icon-feedback:before {
  content: "\e917";
}
.icon-fold:before {
  content: "\e918";
}
.icon-folder:before {
  content: "\e919";
}
.icon-home:before {
  content: "\e91a";
}
.icon-location_fill:before {
  content: "\e91b";
}
.icon-lock:before {
  content: "\e91c";
}
.icon-look:before {
  content: "\e91d";
}
.icon-magnetism:before {
  content: "\e91e";
}
.icon-mail:before {
  content: "\e91f";
}
.icon-map:before {
  content: "\e920";
}
.icon-nessisary:before {
  content: "\e921";
}
.icon-people_fill:before {
  content: "\e922";
}
.icon-people:before {
  content: "\e923";
}
.icon-pic:before {
  content: "\e924";
}
.icon-plane:before {
  content: "\e925";
}
.icon-right:before {
  content: "\e926";
}
.icon-round_add:before {
  content: "\e927";
}
.icon-round_check_fill:before {
  content: "\e928";
}
.icon-round_check:before {
  content: "\e929";
}
.icon-round_close_fill:before {
  content: "\e92a";
}
.icon-round_close:before {
  content: "\e92b";
}
.icon-sad:before {
  content: "\e92c";
}
.icon-search_list:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e92e";
}
.icon-share:before {
  content: "\e92f";
}
.icon-ship:before {
  content: "\e930";
}
.icon-square_check_fill:before {
  content: "\e931";
}
.icon-square_check:before {
  content: "\e932";
}
.icon-square:before {
  content: "\e933";
}
.icon-truck:before {
  content: "\e934";
}
.icon-up:before {
  content: "\e935";
}
.icon-upload:before {
  content: "\e936";
}
.icon-warn_fill:before {
  content: "\e937";
}
.icon-warn:before {
  content: "\e938";
}
